<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
	<title>Fithub</title>
	<meta name="description" content="Discover the best fitness products curated by the best fitness professionals">
		<link rel="stylesheet" type="text/css" href="../css/fix.css">
	<link rel="stylesheet" type="text/css" href="../css/style.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flexboxgrid/6.3.1/flexboxgrid.min.css" type="text/css" >
	<link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700" rel="stylesheet">
	<link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet">
</head>

<body>

	<header>
		<div class="container">
			<div class="row">
				<div class="col-xs">
					<div class="nav">
						<a class="mrg--right" href="../index.html">Home</a>
						<a class="mrg--right" href="../shop.html">Shop</a>
						<a class="mrg--right" href="../about.html">About</a>
					</div>
				</div>

			  <div class="col-xs">
			      <div class="logo">
							<a href="../index.html"><img src="../img/logo.svg" /></a>
						</div>
			  </div>

				<div class="col-xs">
						<div class="nav nav--right">
							<a href="https://fithub.typeform.com/to/VKZpTT">Submit</a>
						</div>
				</div>

		</div>
	</header>
{{ content }}

<section id="footer">
	<div class="container">
		<div class="copyright mrg--top mrg--bottom">
			<span>&copy; Copyright <img src="../img/logo-dark.svg" /> 2016</span>
		</div>
	</div>
</section>


<script src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/jquery.mixitup/latest/jquery.mixitup.min.js"></script>
<script>
$(function(){
  $('#Container').mixItUp();
});
</script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-52439941-1', 'auto');
  ga('send', 'pageview');

</script>
</body>
